<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167113439249-ta4m70r1cdcfe05eb34pl7pujv03e8s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167113439249-ta4m70r1cdcfe05eb34pl7pujv03e8s0</string>
	<key>API_KEY</key>
	<string>AIzaSyCtsSEYj6QgmlQRWuCVAwjirPYChXj0Srs</string>
	<key>GCM_SENDER_ID</key>
	<string>167113439249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boha.routes2024.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kasie2024</string>
	<key>STORAGE_BUCKET</key>
	<string>kasie2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167113439249:ios:4211b4650a988f4e39d9b0</string>
</dict>
</plist>