<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854189510560-5gs4ds1u1e4ej73m3ss1uack8hsegkcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854189510560-5gs4ds1u1e4ej73m3ss1uack8hsegkcd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854189510560-01m01ag5podimppu4cl4smcaedmh8887.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBCW2jYebHUN609zOFxgTnm0JWP-1Y40s</string>
	<key>GCM_SENDER_ID</key>
	<string>854189510560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boha.routes2024</string>
	<key>PROJECT_ID</key>
	<string>kasie-transie-3</string>
	<key>STORAGE_BUCKET</key>
	<string>kasie-transie-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854189510560:ios:a9ffeac3b25f452836dec5</string>
</dict>
</plist>